name: test & deployment

on:
  push:
    branches: main
  workflow_dispatch:

jobs:
  test:
    runs-on: self-hosted-m5

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup SSH Key
        run: |
          mkdir -p ~/.ssh
          printf "%s" "${{ secrets.SSH_KEY }}" > ~/.ssh/ec2_key
          chmod 600 ~/.ssh/ec2_key
          ssh-keyscan -H ${{ secrets.AWS_IP }} >> ~/.ssh/known_hosts

      - name: Run tests on EC2
        run: |
          ssh -i ~/.ssh/ec2_key ${{ secrets.AWS_USER }}@${{ secrets.AWS_IP }} << 'EOF'
            set -e
            cd ~/OstadTesting/OSTAD-Assignment-module-3/

            npm install --no-audit --no-fund
            npm run check > result.log || true

            echo "Test completed"
          EOF

      - name: Copy result.log from EC2 to runner
        run: |
          scp -i ~/.ssh/ec2_key \
          ${{ secrets.AWS_USER }}@${{ secrets.AWS_IP }}:~/OstadTesting/OSTAD-Assignment-module-3/result.log .

      - name: Upload result.log artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: result-log
          path: result.log

  deploy:
    runs-on: self-hosted-m5
    needs: test

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup SSH Key
        run: |
          mkdir -p ~/.ssh
          printf "%s" "${{ secrets.SSH_KEY }}" > ~/.ssh/ec2_key
          chmod 600 ~/.ssh/ec2_key
          ssh-keyscan -H ${{ secrets.AWS_IP }} >> ~/.ssh/known_hosts

      - name: Copy code to EC2
        run: |
          rsync -avz --delete -e "ssh -i ~/.ssh/ec2_key" \
          ./ ${{ secrets.AWS_USER }}@${{ secrets.AWS_IP }}:/home/${{ secrets.AWS_USER }}/OstadTesting/OSTAD-Assignment-module-3/

      - name: Deploy on EC2
        run: |
          ssh -i ~/.ssh/ec2_key ${{ secrets.AWS_USER }}@${{ secrets.AWS_IP }} << 'EOF'
            set -e
            cd ~/OstadTesting/OSTAD-Assignment-module-3/
            pm2 stop all || true
            pm2 delete all || true

            pm2 start npm --name "OSTAD-Assignment-module-3" -- start
            pm2 save
          EOF
