name: test & deployment

on: 
  push:
    branches: main
    
  workflow_dispatch: 

jobs:
  
  test:
    runs-on: self-hosted-m5
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup SSH Key
      run: |
          whoami
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_KEY }}" > ~/.ssh/ec2_key
          chmod 600 ~/.ssh/ec2_key
          ssh-keyscan -H ${{ secrets.AWS_IP }} >> ~/.ssh/known_hosts

    - name: Test EC2 Connectivity
      run: |
        echo "Testing SSH connection to EC2 instance..."
        ssh -i ~/.ssh/ec2_key ${{ secrets.AWS_USER }}@${{ secrets.AWS_IP }} << 'EOF'
        whoami
        sudo apt install npm -y
        sudo npm install -g pm2 -y
        cd OstadTesting/OSTAD-Assignment-module-3/
        npm install 
        npm run check > result.log
        EOF
     
   ## - name: back to runner
      ##run: exit

  deploy:
    runs-on: self-hosted-m5
    needs: test
    steps:    
    - name: Setup SSH Key
      run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_KEY }}" > ~/.ssh/ec2_key
          chmod 600 ~/.ssh/ec2_key
          ssh-keyscan -H ${{ secrets.AWS_IP }} >> ~/.ssh/known_hosts
    
    
    - name: Test EC2 Connectivity
      run: |
        ssh -i ~/.ssh/ec2_key -o ConnectTimeout=10 ${{ secrets.AWS_USER }}@${{ secrets.AWS_IP }} << 'EOF'
        pm2 start npm --name "OSTAD-Assignment-module-3/" -- start
        EOF
        
      
