name: test & deployment

on: 
  push:
    branches: main
    
  workflow_dispatch: 

jobs:
  
  test:
    runs-on: self-hosted-m5
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup SSH Key
      run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/ec2_key
          chmod 600 ~/.ssh/ec2_key
          ssh-keyscan -H ${{ secrets.AWS_IP }} >> ~/.ssh/known_hosts

    - name: Test EC2 Connectivity
      run: |
        echo "Testing SSH connection to EC2 instance..."
        ssh -i ~/.ssh/ec2_key -o ConnectTimeout=10 ${{ secrets.AWS_USER }}@${{ secrets.AWS_IP }} "echo 'SSH connection successful!'"
    
    
    - name:  Install npm
      run: |
        sudo apt install npm -y
        sudo npm install -g pm2 -y
        
    - name: test code
      run: |
        npm install 
        npm check > result.log
        
    - name: Upload Test Results
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: test-results-log
        path: result.log
        retention-days: 5

   ## - name: back to runner
      ##run: exit

  deploy:
    runs-on: self-hosted-m5
    needs: test
    steps:
    - name: Setup SSH Key
      run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/ec2_key
          chmod 600 ~/.ssh/ec2_key
          ssh-keyscan -H ${{ secrets.AWS_IP }} >> ~/.ssh/known_hosts
    
    
    - name: Test EC2 Connectivity
      run: |
        ssh -i ~/.ssh/ec2_key -o ConnectTimeout=10 ${{ secrets.AWS_USER }}@${{ secrets.AWS_IP }}
        
    - name: deployment
      run: |
        npm start
        
      
